/* General Settings */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background: url(./bg_n.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  color:#000000;
}
h1{
  font-size: 1.5em;
  padding-bottom: 1%;
}
.centered {
  /* position */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* size */
  width: 80%;
  height: 60vh;
  /* design */
    text-align: center;
    background: -webkit-linear-gradient(rgba(59,59,59,0.85) 0%,rgba(0,0,0,0.3) 0%);
    box-shadow: 0 0 6px 3px rgb(0 0 0 / 50%);
}

.question-container{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
}
.question-container ul{
  border-top: 2px solid black;
  margin: auto;
  width: 60%;
  height: 25vh;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.question-container li{
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  padding-left: 2%;
  height: 45px;
  width: 35%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-weight:800;
  color:#000000;
}
.button-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 50px;
  
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 35px;
  width: 150px;
}
#do-not-know-key{
  margin: auto;
}
#next-question-button,#results-button{
  position: absolute;
  right: 2%;
}
#prev-question-button{
  position: absolute;
  left: 2%;
}
.button-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Function Classes */
.disabled {
    pointer-events: none;
}

.correct {
  box-shadow: rgba(86, 232, 63, 0.1) 0px 1px 0px, rgba(79, 227, 56, 0.1) 0px 8px 24px, rgba(29, 238, 43, 0.1) 0px 16px 48px;
  border-bottom: 2px solid rgb(18, 182, 26);
}

.incorrect {
  border-bottom: 2px solid rgb(182, 56, 18);
}

.disabled .correct-answer {
  box-shadow: rgba(86, 232, 63, 0.1) 0px 1px 0px, rgba(79, 227, 56, 0.1) 0px 8px 24px, rgba(29, 238, 43, 0.1) 0px 16px 48px;
    border-bottom: 2px solid rgb(18, 182, 26);
}
.hidden{
    display: none;
}