/* General Settings */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid red;
  font-family: 'Nunito', sans-serif;
  background-color: #F2F3F4;
  
}
.centered {
  /* position */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* size */
  width: 80%;
  height: 60vh;
  /* design */
    text-align: center;
    border: 5px solid black;
}

.question-container{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  border: 5px solid black;
}
.question-container ul{
  margin: auto;
  width: 60%;
  height: 25vh;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 5px solid black;
}
.question-container li{
  
  width: 49%;
}
.button-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 50px;
  border: 5px solid black;
}
#do-not-know-key{
  margin: auto;
}
#next-question-button,#results-button{
  position: absolute;
  right: 2%;
}
#prev-question-button{
  position: absolute;
  left: 2%;
}
.button-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Function Classes */
.disabled {
    pointer-events: none;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.disabled .correct-answer {
    background-color: green;
    border: 1px solid black;
}
.hidden{
    display: none;
}